$primary-dark: #303036;
$primary-light: #fffcff;

// Navbar
$nav-color: #303036;
$nav-width: 300px;

// Body
$body-bg: #0a0a0a;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Noto Sans", sans-serif;
$text-color: #636b6f;
