// Navbar
$nav-color: #303036;

// Body
$body-bg: #303036;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Noto Sans", sans-serif;
$text-color: #636b6f;
