// Navbar
$nav-bg-color: #303036;
$nav-color: #fffcff;

// Body
$body-bg: #fffcff;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$text-color: #636b6f;
