
// Fonts
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400');

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap.scss";

.navbar {
  background-color: transparent;

  a {
    color: $nav-color;

    &:hover {
      color: lighten($nav-color, 5%);
    }
  }

  .navbar-brand {
    color: #fffcff;

    &:hover {
      color: #eeeeee;
    }
  }
}

.lobby-block {
  padding: 0;
}

.user-entry {
  cursor: pointer;

  p {
    margin-bottom: 0;
  }

  &:hover {
    background-color: #fafafa;
  }
}

.with-badge {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bar {
  width: 30px;
  height: 2px;
  background-color: $nav-color;
  margin: 6px 0;
}

.navbar-toggler {
  cursor: pointer;
}

.dark-card {
  background-color: #181818;
  color: #fdfcfc;
  border-color: #181818;
  font-family: "Noto Sans", sans-serif;
  border-radius: 0;

  .card-block {
    background-color: transparent;
    border-radius: 0;
  }

  .card-header {
    background-color: transparent;
    border-bottom-color: #0F0F0F;
    border-radius: 0;
  }

  .list-group-item {
    background-color: transparent;
  }

  .badge {
    background-color: #fdfcfc;
    color: #0a0a0a;
  }

  .card-footer {
    background-color: transparent;
    border-top: 2px solid #0a0a0a;
  }
}

.hidden {
  display: none !important;
}

.menu {
  font-family: 'Noto Serif', serif;
}

.mt-7 {
  margin-top: 7rem;
}


.modal-content {
  background-color: #181818;
  border: 2px solid #0a0a0a;
  border-radius: 0;
  color: #fdfcfc;

  .modal-header {
    border-bottom: 2px solid #0a0a0a;

    .close {
      color: #fdfcfc;
    }
  }

  .modal-footer {
    border-top: 2px solid #0a0a0a;
  }
}

.btn-link {
  color: #fdfcfc;
}



#confetti{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  pointer-events:none;
}

img {
  width: 100%;
  margin: 20px 0;
}
