
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap.scss";

.navbar {
  background-color: $nav-bg-color;

  a {
    color: $nav-color;

    &:hover {
      color: #EEEEEE;
    }
  }
}

.lobby-block {
  padding: 0;
}

.user-entry {
  cursor: pointer;

  p {
    margin-bottom: 0;
  }

  &:hover {
    background-color: #fafafa;
  }
}

.with-badge {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
